*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
}

.carousel{
    position: relative;
}

.carouselItem{
    height: 450px;
    width: 600px;
    margin: 0 auto;
    margin-top: 2rem;
    display: none;
}

.carouselItem.active{
    display: block;
}

.carouselItem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#prevButton,
#nextButton{
    color: white;
    position: absolute;
    font-size: 2.2rem;
    left: 50%;
    transform: translateX(-50%);
    transition: .1s linear;
    cursor: pointer;
}

#prevButton:hover,
#nextButton:hover{
    font-size: 2.4rem;
}

#prevButton{
    top: 1%;
}

#nextButton{
    bottom: 1%;
}

